<!--<div class="dashboard-item-dummy" id="chart_{0}">
    <div class="delete-button">Delete</div>
    <div><img src="../../images/0.png" /></div>

    <div class="content">
        <iframe scrolling="no"></iframe>
    </div>
</div>-->

    <table class="table2" height="100%" width="100%">
        <tr>
            <td width="33%" height="33%" valigh="middle"></td>
            <td width="33%" height="33%"></td>
            <td width="33%" height="33%"></td>
        </tr>
        <tr>
            <td width="33%" height="33%"></td>
            <td width="33%" height="33%"></td>
            <td width="33%" height="33%"></td>
        </tr>
    </table>