<div class="dashboard-item-dummy" id="chart_{0}" style="text-align:center;">
    <div class="command-header" style="text-align:left;position:absolute;left:0;right:0;">
        <div class="chart-title">Drag KPI</div>
    </div>
    <div style="height:100%;width:100%;display:table;">
        <div style="display:table-cell;vertical-align:middle;text-align:center;padding-top:20px;">
            <img id="chart_img{1}" style="padding:10px;" />
            <div class="delete-button btn btn-danger" style="width:150px;height:30px;text-align:center;margin:auto;">Delete</div>

        </div>
    </div>
    <!--<div class="content">
        <iframe scrolling="no"></iframe>
    </div>-->
</div>
