.content {
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}

#table_list {
	font-size: 14px;
}

	/* 테이블 제목들 가운데 정렬 */
	#table_list > thead > tr > th {
		vertical-align: top;
		text-align: center;
	}

	/* 테이블 제목들 색상 변경 */
	#table_list > thead > tr:nth-child(1) > th {
		background-color: black;
		color: white;
	}

	#table_list > tbody > tr > td {
		vertical-align: middle;
		text-align: center;
		height: 51px;
	}

		#table_list > tbody > tr > td:nth-child(3) {
			text-align: left;
		}

.row_button > div > button {
	margin-bottom: 5px;
	font-size: 14px;
}
